@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--dark-color-a: #7B2869;
	--dark-color-b: #9D3C72;
	--light-color: #dbdbdb;
	--success-color: #353535;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
	width: 0px;
}

body {
	background-image: url("../imgs/rm222batch2-mind-03.jpg");
	background-color: #ffffff;
	opacity: 1;
	/* background-image: radial-gradient(#7B2869 0.5px, #ffffff 0.5px); */
	background-size: 10px 10px;
	/* transform: translate(0%, 20%);	 */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 8px 15px;
	border-radius: 4px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	margin-bottom: 10px;
}

.btn:hover {
	background-color: var(--success-color);
	color: rgb(255, 255, 255);
	transition: .5s;
}

/* Join Page */

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	transform: translate(0%, 20%);
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-radius: 0 0 10px 10px;
}

input,
select {
	border-radius: 4px;
	border: none;
	outline: none;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}



/* Chat Page */

.chat-container {
	max-width: 1600px;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	transform: translate(0%, 0%);
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	/* border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 77vh;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
	/* border-radius: 0 0 10px 10px; */
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.sent_msg {
	float: right;
}

.recieved_msg {
	float: left;
}