body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #f3dddd; */
}

a {
    text-decoration: none;
    color: black;
    margin-right: 15px
}

#home {
    display: flex;
    padding: 5%
}

#rightdiv {
    background-color: rgb(251, 243, 213);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    height: 100%;
    margin-left: 0px
}

#askques {
    background-color: rgb(10, 149, 255);
    color: white;
    border: 0px;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    margin-top: -10px;
    margin-bottom: 10px;
}


#latest,
#old,
#hot {
    background-color: rgb(10, 149, 255);
    color: white;
    width: 80px;
    height: 30px;
    border: 0px;
    margin-right: 5px;
}


#latest:hover,
#old:hover,
#hot:hover {
    background-color: rgb(233, 121, 30);
    cursor: pointer;
}

#askques:hover {
    background-color: rgb(233, 121, 30);
    cursor: pointer;
}

#rightdiv h4 {
    margin-left: 10px;
}

.icons,
#sidebyside,
.qtab {
    display: flex;
}

#sidebyside {
    display: flex;
    justify-content: space-between;
}

#table {
    display: flex;
    margin-left: 400px
}

.icons img {
    width: 20px;
    margin-left: 10px;
    margin-right: 7px
}

#leftdiv {
    position:fixed;
    width: 14%;
    border-right: double;
    height: 100%;
    text-align: left;
    margin: auto;
    margin-left: -40px;
    margin-top:-14px


}

#leftdiv a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    /* border:1px solid black; */
}

#leftdiv p {

    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


#rightdiv h4,
#rightdiv a,
#renderhere p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#table,
.box {
    display: flex;
    justify-content: space-evenly;
}

#renderdata {
    width: 60%;
    margin-right: 30px;
    margin-left: 160px
}

#list li,
#leftdiv p {
    margin-left: 40px;
    margin-bottom: 8px;
    margin-top: 5px
        /* border:1px solid black; */
}


.questions {
    margin-left: 40px
}

.vote {
    margin-left: 20px
}

.heading,
.des {
    margin-bottom: 8px;
}

.heading:hover {
    cursor: pointer
}

.qbox {
    width: 70%;

}

.abox {
    width: 30%;
    text-align: center;
}

.box {
    /* border:1px solid black; */
    margin-bottom: 10px;
    margin-top: 10px
}


.vertical {
    border-left: 1px solid black;
    
    position: absolute;
    margin-left: -470px;
    left: 50%;
}

#leftdiv a:hover {
    color: rgb(233, 121, 30);
}

@media screen and (max-width: 1033px) {

    #leftdiv,
    #rightdiv {
        display: none
    }

    .vertical {
        display: none
    }

    #renderdata {
        width: 100%;
        margin-left: -20px
    }

    #heading {
        margin-top: 30px
    }

    #askques {
        margin-right: 50px
    }


}



@media screen and (max-width: 830px) {

    #leftdiv,
    #rightdiv {
        display: none
    }
}


@media screen and (max-width: 830px) {

    #leftdiv,
    #rightdiv {
        display: none
    }

    #renderdata {
        width: 100%;
        margin-left: -20px
    }

    #heading {
        margin-top: 30px
    }
}

@media screen and (max-width: 810px) {

    #leftdiv,
    #rightdiv {
        display: none
    }
}

@media screen and (max-width: 640px) {

    #leftdiv,
    #rightdiv {
        display: none
    }

    #table {
        margin-left: -20px
    }
}

@media screen and (max-width: 390px) {

    #leftdiv,
    #rightdiv {
        display: none
    }
}