*{margin:0px;padding:0px;  box-sizing: border-box;}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.web-logo{
    width:20%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 60px;
}

.google,.github,.facebook{
    width:30%;
    margin:auto;
    display: block;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 10px;
    color:white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 550;
}

i{
    margin-right: 5px;
}

.google{
    background-color: #eee;
    color:black;
}

.github{
    background-color: black;
}

.facebook{
    background-color: rgb(4, 4, 49);
    margin-bottom: 30px;
}

.google:hover{
    background-color: #eee5e5;
}
.github:hover{
    background-color: rgb(32, 30, 30);
}
.facebook:hover{
    background-color: rgb(6, 6, 92);
}

.form-container{
    width:30%;
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom: 50px !important;
    margin:auto;
    text-align: center;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


form input{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

#submit-btn{
    background-color:green;
    cursor:pointer
}

.user-anchor{
    text-align: center;
    font-size: 20px;
}

.user-anchor a{
    text-decoration: underline !important;
}
 
input::placeholder{
    font-size: 80%;
 } 


@media all and (max-width: 900px) {
      
   .form-container,.google,.github,.facebook,.web-logo{
    width:70%
   }
 
}
@media all and (max-width: 300px) {
      
   input::placeholder{
    font-size: 65%; 
    }
  .user-anchor{
    font-size: medium;
  }
}